.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	background: hsl(0, 0%, 93%);
	padding: 0.5rem;
	box-shadow: 7px 7px 0px 3px hsl(225, 20%, 69%);
	margin: 0 0 2.5rem 0;
	transition: all 0.2s ease-out;

	&:hover {
		transform: scale(0.99);
		box-shadow: 7px 7px 0px 3px hsl(224, 20%, 49%);
	}
}

.linkPicture {
	border-radius: 30px 30px 0 0;
}
.author {
	position: absolute;
	bottom: 0;
	width: max-content;
	padding: 0.2rem 0.3rem;
	color: #637297;
	font-size: 1.2rem;
	text-transform: capitalize;
	background: hsla(0, 0%, 100%, 80%);
	border-left: 4px solid #637297;
	z-index: 100;
}
.title {
	padding: 0.5rem 0;
	min-height: 3rem;
	text-transform: capitalize;
}
.description {
	padding-bottom: 15px;
	font-size: 0.8rem;
	font-weight: lighter;
	max-height: 150px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}
.host {
	margin-top: auto;
	padding: 0.8rem 0;
	text-transform: capitalize;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	background-color: hsl(223, 21%, 49%);
	border-radius: 30px;
}
.imgContainer {
	position: relative;
	width: 100%;
	height: 200px;
}
.highlightText {
	background: #ffe300;
}

%starIcon {
	position: absolute;
	right: 0;
	top: 5px;
	width: 42px;
	height: 41x;
	z-index: 200;
	margin: 0 10px 0 auto;
	filter: drop-shadow(6px 2px 0px rgba(114, 114, 114, 0.8));

	&:hover > path {
		fill: hsl(50, 100%, 50%);
	}
}

.starActive {
	@extend %starIcon;

	path {
		fill: hsl(50, 100%, 50%);
		stroke-width: 0;
	}
}

.starInactive {
	@extend %starIcon;

	path {
		fill: hsl(0, 0%, 100%);
		stroke-width: 0;
	}
}
